.header {

    background: linear-gradient(rgba($colorDark, 0.6) 50%, rgba($colorDark, 0.6) 100%),
        url("../images/compressed/resized/1200height_bar-beverage-cocktail-109275-min.jpg");


    background-size: cover;
    background-position: center center;
    padding: .5rem 1.5rem 1rem 1.5rem;
    height: 100vh;
    
    * {
        animation-name: fadeIn;
        animation-duration: 1.5s;
    }

    &_container {

        display: grid;
        height: 100%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(17, 1fr);
        grid-template-areas:
            "wt wt wt wt . ."
            "tel tel tel tel . . "
            ". . . . . . "
            ". . . . . . "
            ". . . . . . "
            ". . . . . . "
            ". . . . . . "
            ". . . . . . "
            ". h h h h . "
            ". h h h h . "
            ". . . . . . "
            ". . . . . . "
            ". . . . . . "
            ". adr adr adr adr . "
            ". . . . . . "
            ". btn btn btn btn . "
            ". . . . . . "
            ". sm sm sm sm . ";

        padding: 1rem;
        padding-bottom: 0;

        @include mqMin(43.75em) {
            padding: 2rem;
            padding-bottom: 0;
            grid-template-columns: repeat(7, 1fr);
            grid-template-areas:
                "adr adr btn btn btn wt wt  "
                "tel tel . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                "sm . . . . . . "
                "sm . h h h . . "
                "sm . h h h . . "
                "sm . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". . . . . . . "
                ". nav  nav nav nav nav .";
        }

    }

    &_nav {
        display: none;
        grid-area: nav;
        align-content: center;
        justify-items: center;
        justify-self: center;

        &.stickyHeader {
            transition: background-color 1s;
        }

        // max-width: 82rem;

        justify-content: space-around;
        align-items: flex-end;

        @include mqMin(43.75em) {
            display: flex;
        }

        &_item {
            margin-left: 2rem;
            margin-right: 2rem;
            transition: color .2s;

            @include mqMin(60em) {
                margin-left: 4.5rem;
                margin-right: 4.5rem;
            }
        }

    }

    &__workTimeTel-wt {
        grid-area: wt;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


        @include mqMin(43.75em) {
            align-items: flex-end;
        }

        &>* {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

    }

    &__workTimeTel-tel {
        grid-area: tel;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include mqMin(20.5em) {
            margin-top: -2rem;
        }

        @include mqMin(43.75em) {
            margin-top: initial;
        }

    }


    &__address {
        grid-area: adr;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mqMin(43.75em) {
            justify-content: flex-start;
            align-items: flex-start;
            grid-area: adr;
        }
    }

    &__h1 {
        grid-area: h;

        &-2 {
            border-top: 1px solid $colorLight;
        }
    }

    &__socialMedia {
        grid-area: sm;

        @include mqMin(43.75em) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
    }

    &__btn {
        align-self: center;
        grid-area: btn;
        margin: 0 auto;
    }

}

.hamburger {
    z-index: 99;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: all .5s;

    @include mqMin(43.75em) {
        display: none;
    }

    &.active {
        @include hamburger_transform_to_cross;
    }

    &.inactive:hover {
        &__bar {
            pointer-events: none; // to avoid event target conflict
        }
    }

    &__bar {
        display: block;
        width: 2.5rem;
        height: 1px;
        background-color: $colorLight;
        margin: 3px 0;
        transition: .5s opacity, 1s transform;
    }
}

.overlayNav {
    background-color: rgba($colorAccent, .95);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    z-index: 98;

    @include mqMin(43.75em) {
        display: none;
    }

    &__cont {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__item {}
}