.container {
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.telCont {
    display: flex;
    justify-content: center;
    &_icon {
        margin-right: 5px;
        height: 1.5rem;
    }
}


.socialMediaCont {
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
        width: 2.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.d-none {
    display: none;
}

.stickyHeader {
    position: fixed;
    top: 0;
    left: 0;
    // transform: translateX(-50%);
    width: 100%;
    max-width: initial;;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    background-color: rgba(#000, .9);
    z-index: 999;
    transition: background-color 0s;
}

.activeColor {
    color: $colorAccent;
}


.hamAccented {
    background-color: rgba($colorAccent, .95);
    padding: .5rem;
    border: 1px solid $colorLight;
}

.translateToRight {
    transform: translate(100%, -100%);
}

.overflowHidden {
    overflow: hidden;
}