// ---------------------------------------- */
// TYPOGRAPHY */
// ---------------------------------------- */

body {
    font-family: 'Quicksand', sans-serif;
    color: $colorLight;
}

input,
textarea {
    @include placeholder() {
        font-family: 'Quicksand', sans-serif;
    }

    font-family: 'Quicksand',
    sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
}

.headingSecondary {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;

    &__el {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 500;
        color: $colorDark;
        padding: 1rem 5rem;
        border: 1px solid $colorDark;
        display: inline-block;
        text-align: center;
        letter-spacing: .35rem;
    }
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-1 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &-header-1 {
        @include mqMin(30em) {
            font-size: 2.8rem;
        }

        @include mqMin(40em) {
            font-size: 3.6rem;
        }

    }

    &-header-2 {
        @include mqMin(30em) {
            font-size: 2rem;
        }

        @include mqMin(40em) {
            font-size: 2.8rem;
        }

    }

    &-2 {
        font-size: 1.7rem;
        font-weight: 400;
        border-top: 1px solid $colorDark;
        margin-top: 2rem;
        padding-top: .5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.telCont {
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.header {
    color: $colorLight;


    &__workTimeTel,
    &__workTimeTel-wt {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }

    &__address {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
}

.nav {
    &_item {
        font-size: 1.4rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $colorLight;
    }
}

.headingTertiary {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: $colorDark;
    letter-spacing: .2rem;
}

.p {
    color: $colorDark;
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding-bottom: 2rem;
}