// ---------------------------------------- */
// TYPOGRAPHY */
// ---------------------------------------- */

body {
    font-family: 'Quicksand', sans-serif;
    color: $colorLight;
}

input,
textarea {
    @include placeholder() {
        font-family: 'Quicksand', sans-serif;
    }

    font-family: 'Quicksand',
    sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
}

.headingSecondary {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;

    &__el {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 500;
        color: $colorDark;
        padding: 1rem 5rem;
        border: 1px solid $colorDark;
        display: inline-block;
        text-align: center;
        letter-spacing: .35rem;
    }
}

.header {
    color: $colorLight;

    &__h1 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .2rem;
        text-transform: uppercase;

        &-2 {
            font-size: 1.7rem;
            font-weight: 400;
        }
    }

    &__workTimeTel {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }

    &__address {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
}

.headingTertiary {
    padding-top: 3.1rem;
    padding-bottom: 2.4rem;
    font-weight: 500;
    font-size: 2rem;
    color: $colorDark;
    letter-spacing: .3rem;
}

.p {
    color: $colorDark;
    font-size: 1.6rem;
    letter-spacing: .15rem;
    padding-bottom: 2.5rem;
}