.about {

    .container {
        max-width: 70rem;
        margin: 0 auto;

        @include mqMin(60em) {
            width: 50%;
        }
    }

    @include mqMin(60em) {
        .aboutCont {

            display: flex;
            max-width: 96rem;
            margin: 15rem auto;

            &--1 {
                .container {
                    padding-right: 10rem;
                }

                .about__img {}
            }

            &--2 {
                .container {
                    padding-left: 10rem;
                }

                .about__img {}

            }
        }
    }


    &__img {

        width: 100%;
        background-size: cover;
        height: 20rem;
        background-position: center;

        @include mqMin(43.75em) {
            max-width: 66rem;
            margin: 0 auto;
        }

        @include mqMin(60em) {
            max-width: 55%;
            height: 30rem;
        }

        &--1 {
            background-image: url("../images/compressed/resized/width 1000/alcohol-alcoholic-bar-545058-min.jpg");

            @include mqMin(60em) {
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 99%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 99%);
                order: 2;
                // height: initial;
                transform: rotate(5deg);
            }
        }

        &--2 {
            background-image: url("../images/compressed/resized/width 1000/alcoholic-beverage-bar-beer-1269025-min.jpg");

            @include mqMin(60em) {
                -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
                // height: initial;
                transform: rotate(-5deg);
            }
        }
    }
}

.menu {
    color: $colorDark;
    text-align: center;

    &_container {
        max-width: 96rem;
        margin: 0 auto;

        @include mqMin(60em) {
            &:nth-child(2) {
                margin: 0;
            }
        }
    }

    &__menuCont {
        padding: 2rem 0;


        @include mqMin(43.75em) {
            display: flex;
            padding: 8rem 0;
        }



        &-item {
            font-size: 1.5rem;
            letter-spacing: .2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 4rem auto;
            justify-content: space-between;


            &-name {}

            &-icon {
                width: 8rem;
                margin: 1.5rem auto;

                &-tequila {
                    height: 6rem;
                }

                &-juice {
                    height: 7rem;
                }

                &-whiskey {
                    height: 5rem;
                }

                &-wine {
                    height: 6rem;
                }
            }

            &-price {}
        }
    }

    &__img {
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 22rem;
        margin: 0 auto;
        max-width: 66rem;

        @include mqMin(20em) {
            height: 25rem;
        }

        @include mqMin(25em) {
            height: 30rem;
        }

        @include mqMin(30em) {
            height: 35rem;
        }


        &--1 {
            max-width: 120rem;
            background-image: url("../images/compressed/resized/width 1000/alcohol-bar-beer-1283219-min.jpg");
        }
        
        &--2 {
            background-image: url("../images/compressed/resized/width 1000/alcoholic-beverages-bar-beer-63633-min.jpg");
            
            @include mqMin(60em) {
                height: 50rem;
                // width: 45%;
                max-width: 50%;
                margin: 0;
                -webkit-clip-path: polygon(0 20%, 100% 0, 91% 90%, 0% 100%);
                clip-path: polygon(0 20%, 100% 0, 91% 90%, 0% 100%);
            }
        }
    }

    .menuDiscCont {
        @include mqMin(60em) {
            max-width: 96rem;
            margin: 0 auto;
            margin-bottom: 10rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &>* {
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }
    }

    &__discount {
        padding-bottom: 4rem;
        text-align: center;
        max-width: 50rem;
        padding-left: 6rem;

        @include mqMin(60em) {
            text-align: initial;
            width: 40%;
        }
    }

}

.contact {
    height: 35rem;
    background: linear-gradient(rgba($colorDarkest, 0.6) 50%, rgba($colorDarkest, 0.6) 100%),
        url("../images/compressed/resized/width 1000/michael-discenza-199756-unsplash-min.jpg");
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        &__text {
            font-size: 1.8rem;
            letter-spacing: .2rem;
            font-weight: 300;
        }

        &>* {
            margin: 2rem;
        }
    }

}

.gallery {
    &__contImg {
        width: 100%;
        height: 30rem;
        overflow: hidden;
        display: flex;
        position: relative;
        max-width: 120rem;
        margin: 0 auto;

        @include mqMin(43.75em) {
            height: initial;
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(6, minmax(5rem, 1fr));
            grid-auto-rows: 10rem;
            grid-auto-flow: dense;
            padding: 0 10rem;
        }

        @include mqMin(60em) {
            // grid-auto-rows: 15rem;
        }

        @include mqMin(70em) {
            grid-auto-rows: 15rem;
        }

        img {
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 100%;
            object-fit: cover;
            height: 100%;

            @include mqMin(43.75em) {
                padding: 0;
                width: 100%;

                &:nth-child(-n + 3),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12),
                &:nth-child(15),
                &:nth-child(16) {
                    grid-row: span 2;
                }

                &:nth-child(10) {
                    grid-column: span 1;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(9),
                &:nth-child(11),
                &:nth-child(14),
                &:nth-child(15),
                &:nth-child(17) {
                    grid-column: span 2;
                }

                &:nth-child(2),
                &:nth-child(12) {
                    grid-column: span 3;
                }



                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(8),
                &:nth-child(13),
                &:nth-child(16),
                &:nth-child(18) {
                    grid-column: span 4;
                }
            }
        }
    }
}