*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit; }

ul {
  list-style: none; }

li {
  display: inline-block; }

a,
a:focus,
a:hover {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Quicksand', sans-serif;
  color: #fff; }

input,
textarea {
  font-family: 'Quicksand', sans-serif; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: 'Quicksand', sans-serif; }

button {
  font-family: 'Quicksand', sans-serif; }

a {
  cursor: pointer; }

.headingSecondary {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem; }
  .headingSecondary__el {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #242424;
    padding: 1rem 5rem;
    border: 1px solid #242424;
    display: inline-block;
    text-align: center;
    letter-spacing: .35rem; }

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .h1-1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase; }
  @media (min-width: 30em) {
    .h1-header-1 {
      font-size: 2.8rem; } }
  @media (min-width: 40em) {
    .h1-header-1 {
      font-size: 3.6rem; } }
  @media (min-width: 30em) {
    .h1-header-2 {
      font-size: 2rem; } }
  @media (min-width: 40em) {
    .h1-header-2 {
      font-size: 2.8rem; } }
  .h1-2 {
    font-size: 1.7rem;
    font-weight: 400;
    border-top: 1px solid #242424;
    margin-top: 2rem;
    padding-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

.telCont {
  font-size: 1.2rem;
  letter-spacing: .2rem; }

.header {
  color: #fff; }
  .header__workTimeTel, .header__workTimeTel-wt {
    font-size: 1.2rem;
    letter-spacing: .2rem; }
  .header__address {
    font-size: 1.2rem;
    letter-spacing: .2rem; }

.nav_item {
  font-size: 1.4rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff; }
  .nav_item:hover, .nav_item:active {
    color: #FFB547; }
  .nav_item:focus {
    color: #fff;
    font-weight: 600; }

.headingTertiary {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #242424;
  letter-spacing: .2rem; }

.p {
  color: #242424;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  padding-bottom: 2rem; }

.overlayNav__item {
  margin: 2rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: .3s all; }

.container {
  max-width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem; }

body.overflowHidden {
  overflow-y: scroll;
  width: 100%; }

.telCont {
  display: flex;
  justify-content: center; }
  .telCont_icon {
    margin-right: 5px;
    height: 1.5rem; }

.socialMediaCont {
  display: flex;
  justify-content: center;
  align-items: center; }
  .socialMediaCont-icon {
    width: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem; }

.d-none {
  display: none; }

.opacity-none {
  opacity: 0; }

.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: initial;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  transition: background-color 0s; }

.activeColor {
  color: #FFB547; }

.hamAccented {
  background-color: rgba(255, 181, 71, 0.95);
  padding: .5rem;
  border: 1px solid #fff; }

.translateToRight {
  transform: translate(100%, -100%); }

.translateToTop {
  transform: translate(0, -100%); }

.overflowHidden {
  overflow: hidden; }

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3.2rem;
  height: 32px;
  opacity: .8;
  transition: opacity .5s;
  cursor: pointer; }
  .close:hover {
    opacity: 1; }
  .close:before, .close:after {
    position: absolute;
    left: 1.5rem;
    content: ' ';
    height: 2rem;
    width: 1px;
    background-color: #242424; }
  .close:before {
    transform: rotate(45deg); }
  .close:after {
    transform: rotate(-45deg); }

.btn {
  color: #fff;
  background-color: #FFB547;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    color: #242424; }
  .btn-primary--noFill {
    padding: 1rem 4rem;
    background-color: initial;
    border: 3px solid #FFB547; }
    .btn-primary--noFill:hover, .btn-primary--noFill:focus {
      color: #FFB547; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.overlayContact {
  background-color: rgba(36, 36, 36, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all .5s;
  z-index: 999;
  justify-content: center;
  align-items: center;
  color: #242424;
  display: flex;
  transition: .2s opacity ease-out; }
  .overlayContact.d-none {
    transform: translate(-100%, -100%); }
  .overlayContact__cont {
    background-color: rgba(255, 181, 71, 0.95);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 3rem 5rem;
    max-width: 50rem;
    max-height: 30rem; }
    @media (min-width: 43.75em) {
      .overlayContact__cont {
        width: 50rem;
        max-height: 40rem; } }
  .overlayContact__headlineTelephoneCont {
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .overlayContact__headline, .overlayContact__telephone {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem; }
  .overlayContact__headline {
    font-size: 2rem; }
    @media (min-width: 43.75em) {
      .overlayContact__headline {
        font-size: 3rem; } }
  .overlayContact__telephone {
    font-size: 1.5rem;
    display: flex; }

.header {
  background: linear-gradient(rgba(36, 36, 36, 0.6) 50%, rgba(36, 36, 36, 0.6) 100%), url("../images/compressed/resized/1200height_bar-beverage-cocktail-109275-min.jpg");
  background-size: cover;
  background-position: center center;
  padding: .5rem 1.5rem 1rem 1.5rem;
  height: 100vh; }
  .header * {
    animation-name: fadeIn;
    animation-duration: 1.5s; }
  .header_container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-template-areas: "wt wt wt wt . ." "tel tel tel tel . . " ". . . . . . " ". . . . . . " ". . . . . . " ". . . . . . " ". . . . . . " ". . . . . . " ". h h h h . " ". h h h h . " ". . . . . . " ". . . . . . " ". . . . . . " ". adr adr adr adr . " ". . . . . . " ". btn btn btn btn . " ". . . . . . " ". sm sm sm sm . ";
    padding: 1rem;
    padding-bottom: 0; }
    @media (min-width: 43.75em) {
      .header_container {
        padding: 2rem;
        padding-bottom: 0;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "adr adr btn btn btn wt wt  " "tel tel . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " "sm . . . . . . " "sm . h h h . . " "sm . h h h . . " "sm . . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " ". . . . . . . " ". nav  nav nav nav nav ."; } }
  .header_nav {
    display: none;
    grid-area: nav;
    align-content: center;
    justify-items: center;
    justify-self: center;
    justify-content: space-around;
    align-items: flex-end; }
    .header_nav.stickyHeader {
      transition: background-color 1s; }
    @media (min-width: 43.75em) {
      .header_nav {
        display: flex; } }
    .header_nav_item {
      margin-left: 2rem;
      margin-right: 2rem;
      transition: color .2s; }
      @media (min-width: 60em) {
        .header_nav_item {
          margin-left: 4.5rem;
          margin-right: 4.5rem; } }
  .header__workTimeTel-wt {
    grid-area: wt;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (min-width: 43.75em) {
      .header__workTimeTel-wt {
        align-items: flex-end; } }
    .header__workTimeTel-wt > * {
      margin-top: .5rem;
      margin-bottom: .5rem; }
  .header__workTimeTel-tel {
    grid-area: tel;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (min-width: 20.5em) {
      .header__workTimeTel-tel {
        margin-top: -2rem; } }
    @media (min-width: 43.75em) {
      .header__workTimeTel-tel {
        margin-top: initial; } }
  .header__address {
    grid-area: adr;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 43.75em) {
      .header__address {
        justify-content: flex-start;
        align-items: flex-start;
        grid-area: adr; } }
  .header__h1 {
    grid-area: h; }
    .header__h1-2 {
      border-top: 1px solid #fff; }
  .header__socialMedia {
    grid-area: sm; }
    @media (min-width: 43.75em) {
      .header__socialMedia {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; } }
  .header__btn {
    align-self: center;
    grid-area: btn;
    margin: 0 auto; }

.hamburger {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: all .5s; }
  @media (min-width: 43.75em) {
    .hamburger {
      display: none; } }
  .hamburger.active .hamburger__bar:nth-child(1) {
    opacity: 0;
    transform: translateY(-2rem); }
  .hamburger.active .hamburger__bar:nth-child(2) {
    transform: rotate(45deg); }
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -14px);
    transform-origin: 100%; }
  .hamburger.inactive:hover__bar {
    pointer-events: none; }
  .hamburger__bar {
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: .5s opacity, 1s transform; }

.overlayNav {
  background-color: rgba(255, 181, 71, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all .5s;
  z-index: 98; }
  @media (min-width: 43.75em) {
    .overlayNav {
      display: none; } }
  .overlayNav__cont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }

.footer {
  padding-top: 10rem;
  padding-bottom: 3rem;
  color: #242424; }
  .footer_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; }
    .footer_container > * {
      margin: 1rem; }
    .footer_container .h1 {
      margin-bottom: 2rem; }

.about .container {
  max-width: 70rem;
  margin: 0 auto; }
  @media (min-width: 60em) {
    .about .container {
      width: 50%; } }

@media (min-width: 60em) {
  .about .aboutCont {
    display: flex;
    max-width: 96rem;
    margin: 15rem auto; }
    .about .aboutCont--1 .container {
      padding-right: 10rem; }
    .about .aboutCont--2 .container {
      padding-left: 10rem; } }

.about__img {
  width: 100%;
  background-size: cover;
  height: 20rem;
  background-position: center; }
  @media (min-width: 43.75em) {
    .about__img {
      max-width: 66rem;
      margin: 0 auto; } }
  @media (min-width: 60em) {
    .about__img {
      max-width: 55%;
      height: 30rem; } }
  .about__img--1 {
    background-image: url("../images/compressed/resized/width 1000/alcohol-alcoholic-bar-545058-min.jpg"); }
    @media (min-width: 60em) {
      .about__img--1 {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 99%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 99%);
        order: 2;
        transform: rotate(5deg); } }
  .about__img--2 {
    background-image: url("../images/compressed/resized/width 1000/alcoholic-beverage-bar-beer-1269025-min.jpg"); }
    @media (min-width: 60em) {
      .about__img--2 {
        -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
        transform: rotate(-5deg); } }

.menu {
  color: #242424;
  text-align: center; }
  .menu_container {
    max-width: 96rem;
    margin: 0 auto; }
    @media (min-width: 60em) {
      .menu_container:nth-child(2) {
        margin: 0; } }
  .menu__menuCont {
    padding: 2rem 0; }
    @media (min-width: 43.75em) {
      .menu__menuCont {
        display: flex;
        padding: 8rem 0; } }
    .menu__menuCont-item {
      font-size: 1.5rem;
      letter-spacing: .2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 4rem auto;
      justify-content: space-between; }
      .menu__menuCont-item-icon {
        width: 8rem;
        margin: 1.5rem auto; }
        .menu__menuCont-item-icon-tequila {
          height: 6rem; }
        .menu__menuCont-item-icon-juice {
          height: 7rem; }
        .menu__menuCont-item-icon-whiskey {
          height: 5rem; }
        .menu__menuCont-item-icon-wine {
          height: 6rem; }
  .menu__img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 22rem;
    margin: 0 auto;
    max-width: 66rem; }
    @media (min-width: 20em) {
      .menu__img {
        height: 25rem; } }
    @media (min-width: 25em) {
      .menu__img {
        height: 30rem; } }
    @media (min-width: 30em) {
      .menu__img {
        height: 35rem; } }
    .menu__img--1 {
      max-width: 120rem;
      background-image: url("../images/compressed/resized/width 1000/alcohol-bar-beer-1283219-min.jpg");
      background-position: center center;
      background-attachment: fixed;
      background-size: auto; }
    .menu__img--2 {
      background-image: url("../images/compressed/resized/width 1000/alcoholic-beverages-bar-beer-63633-min.jpg"); }
      @media (min-width: 60em) {
        .menu__img--2 {
          height: 50rem;
          max-width: 50%;
          margin: 0;
          -webkit-clip-path: polygon(0 20%, 100% 0, 91% 90%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0, 91% 90%, 0% 100%); } }
  @media (min-width: 60em) {
    .menu .menuDiscCont {
      max-width: 96rem;
      margin: 0 auto;
      margin-bottom: 10rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .menu .menuDiscCont > * {
        padding-left: 4rem;
        padding-right: 4rem; } }
  .menu__discount {
    text-align: center;
    max-width: 50rem;
    padding-bottom: 4rem; }
    @media (min-width: 60em) {
      .menu__discount {
        padding-left: 6rem;
        text-align: initial;
        width: 40%; } }

.contact {
  height: 35rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%), url("../images/compressed/resized/width 1000/michael-discenza-199756-unsplash-min.jpg");
  background-size: cover; }
  .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .contact__content__text {
      font-size: 1.8rem;
      letter-spacing: .2rem;
      font-weight: 300; }
    .contact__content > * {
      margin: 2rem; }

.gallery__contImg {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  display: flex;
  position: relative;
  max-width: 120rem;
  margin: 0 auto; }
  @media (min-width: 43.75em) {
    .gallery__contImg {
      height: initial;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(6, minmax(5rem, 1fr));
      grid-auto-rows: 10rem;
      grid-auto-flow: dense;
      padding: 0 10rem; } }
  @media (min-width: 70em) {
    .gallery__contImg {
      grid-auto-rows: 15rem; } }
  .gallery__contImg img {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center; }
    @media (min-width: 43.75em) {
      .gallery__contImg img {
        padding: 0;
        width: 100%; }
        .gallery__contImg img:nth-child(-n + 3), .gallery__contImg img:nth-child(6), .gallery__contImg img:nth-child(7), .gallery__contImg img:nth-child(10), .gallery__contImg img:nth-child(11), .gallery__contImg img:nth-child(12), .gallery__contImg img:nth-child(15), .gallery__contImg img:nth-child(16) {
          grid-row: span 2; }
        .gallery__contImg img:nth-child(10) {
          grid-column: span 1; }
        .gallery__contImg img:nth-child(3), .gallery__contImg img:nth-child(4), .gallery__contImg img:nth-child(7), .gallery__contImg img:nth-child(9), .gallery__contImg img:nth-child(11), .gallery__contImg img:nth-child(14), .gallery__contImg img:nth-child(15), .gallery__contImg img:nth-child(17) {
          grid-column: span 2; }
        .gallery__contImg img:nth-child(2), .gallery__contImg img:nth-child(12) {
          grid-column: span 3; }
        .gallery__contImg img:nth-child(5), .gallery__contImg img:nth-child(6), .gallery__contImg img:nth-child(8), .gallery__contImg img:nth-child(13), .gallery__contImg img:nth-child(16), .gallery__contImg img:nth-child(18) {
          grid-column: span 4; } }
