.btn {
    color: $colorLight;
    background-color: $colorAccent;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &:focus {
        color: $colorDark;
    }
    
    &-primary {
        &--noFill {
            padding: 1rem 4rem;
            background-color: initial;
            border: 3px solid $colorAccent;
                        &:hover, &:focus {
                            color: $colorAccent;
                        }
        }
    }
}
